.navbar{
    border: 1px solid #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: 10px;
}