.navbar{
    width: 266px;
    padding: 5px;
    border: 1px solid #000;
    display: inline-flex;
    margin: 5px auto;
}
.navbar div{
    flex-grow: 1;
}
.navbar i{
    flex-grow: 0;
    color: darkolivegreen;
}